/*------------------- Map css -----------------------*/

body {
  margin: 0;
  padding: 0;
}
.map-container {
  width: 100vw;
  height: 100vh;
}

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: none;
}

/*------------------- Data Box css (not really needed anymore) -----------------------*/

.data-box {
  width: 250px;
  color: white;
  font-family: monospace;
  background-color: rgb(37, 37, 37);
  opacity: 0.65;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}

.data-box p {
  float: left;
  width: 100%;
  display: block;
}

/*------------------- Popup css -----------------------*/

.popup {
  border: 2px solid rgb(55, 55, 55);
}
.popup span {
  display: block;
}

/*------------------- Right/Left Panel css -----------------------*/

.left-panel {
  width: 95%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  position: absolute;
}

.right-panel-container {
  width: 30vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
}

.left-panel-container {
  width: 30vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
}

.case-info-container {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.left-panel-child-switch {
  margin-left: 5%;
}

.right-panel {
  width: 95%;
  left: 5%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  position: absolute;
}

.county-statistics-title {
  max-width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(69, 69, 69);
}

.county-stat {
  color: white;
  border-bottom: 1px solid rgb(69, 69, 69);
  border-left: 3px solid white;
  padding: 10px;
  margin: 1px;
}

.left-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  background-color: rgb(48, 48, 48);
  left: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
.right-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  background-color: rgb(48, 48, 48);
  right: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

/*------------------- Toggle switch css -----------------------*/

.switch-label {
  color: white;
  display: inline-block;
  margin: 10px;
}

.switch {
  width: 44px;
  height: 24px;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  /* border: 2px solid #ffffff; */
}

.switch-red {
  background-color: #f96262;
  transition: 0.5s;
}

.switch-green {
  background-color: #23be42;
  transition: 0.5s;
}

.slider {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #dcdcdc;
  position: relative;
}

.slider-left {
  left: 0;
  transition: 0.5s;
}

.slider-right {
  left: 20px;
  transition: 0.5s;
}

/*------------------- Legend Color Bar css -----------------------*/

.color-bar-legend {
  width: 80%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  border-radius: 10px;
}

.color-bar-legend-container {
  width: 98.5%;
  display: block;
  margin-top: 10px;
  border-top: 1px solid rgb(69, 69, 69);
  border-bottom: 1px solid rgb(69, 69, 69);
  border-left: 5px solid rgb(86, 245, 86);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
  position: relative;
  transition: 1s;
  overflow: hidden;
}

.color-bar-title {
  color: white;
  text-align: center;
  padding: 0;
}

.legend-num1 {
  float: left;
  margin-left: 10%;
  color: rgb(163, 163, 163);
}
.legend-num2 {
  float: right;
  margin-right: 10%;
  color: rgb(163, 163, 163);
}

/*------------------- Dropdown css -----------------------*/

.select-dropdown-container {
  width: 20vw;
  margin: auto;
}

.select-popover button {
  width: 100vw;
  margin: auto;
  background-color: #006bb4;
  color: white;
  border: 2px solid white;
}

.select-options {
  width: 20vw;
  background-color: white;
  text-align: center;
  display: inline-block;
}

.select-options div div div div div {
  display: inline-block;
  margin: 5px;
}

.select-options div div div div div button {
  background-color: #535353;
  width: 2.5vw;
  height: 1.8vw;
  border-radius: 10%;
  text-align: center;
  color: white;
  border: none;
}

.search-container li span {
  padding-bottom: 20px;
}

.select-options li {
  width: 100vw;
  margin-left: -10px;
  line-height: 2;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.select-options li:hover {
  cursor: pointer;
  background-color: rgba(105, 170, 178, 0.2);
}

/*------------------- DatePicker css -----------------------*/

.date-element {
  color: white;
  display: inline-block;
  margin-right: 5px;
}

.date-picker-container {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.date-picker-container input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.date-picker-container button {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  background-color: #167da6;
  cursor: pointer;
}

.date-picker-container button:hover {
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #167da6;
  color: #167da6;
  background-color: white;
}

/*------------------- SlidingPanel css -----------------------*/
.sliding-left-panel-container {
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
  z-index: 2;
}

.sliding-left-panel {
  width: 95%;
  height: 100%;
  /* background-color: #303030; */
  position: absolute;
}

.sliding-right-panel-container {
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
  z-index: 2;
}

.sliding-right-panel {
  width: 95%;
  left: 5%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  position: absolute;
}

.sliding-panel-title {
  max-width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(69, 69, 69);
}

.sliding-left-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  /* background-color: rgb(48, 48, 48); */
  left: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
.sliding-right-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  background-color: rgb(48, 48, 48);
  right: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

/*------------------- LoadingScreen css -----------------------*/

@keyframes rotating-arrow {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes loading-dial {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-screen-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 3, 0.8);
  position: absolute;
  z-index: 1;
}

.loading-icon-container {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  overflow: hidden;
}

.loading-elements-container {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.loading-text {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
  top: 75%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

.loading-shard {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 100px solid white;
  left: 60px;
  position: absolute;
}
.loading-shard-1 {
  transform: rotateZ(180deg);
}
.loading-shard-2 {
  margin-left: 20%;
  margin-top: 5%;
  transform: rotateZ(225deg);
}
.loading-shard-3 {
  margin-left: 25%;
  margin-top: 25%;
  transform: rotateZ(270deg);
}
.loading-shard-4 {
  margin-left: 20%;
  margin-top: 45%;
  transform: rotateZ(315deg);
}

.loading-shard-5 {
  margin-top: 100px;
}

.loading-shard-6 {
  transform: rotateZ(45deg);
  margin-left: -20%;
  margin-top: 45%;
}

.loading-shard-7 {
  transform: rotateZ(90deg);
  margin-left: -25%;
  margin-top: 25%;
}
.loading-shard-8 {
  transform: rotateZ(135deg);
  margin-left: -20%;
  margin-top: 5%;
}

.loading-icon-container span {
  animation: loading-dial 800ms linear infinite;
}

.loading-icon-container span:nth-child(1) {
  animation-delay: 100ms;
}
.loading-icon-container span:nth-child(2) {
  animation-delay: 200ms;
}
.loading-icon-container span:nth-child(3) {
  animation-delay: 300ms;
}
.loading-icon-container span:nth-child(4) {
  animation-delay: 400ms;
}
.loading-icon-container span:nth-child(5) {
  animation-delay: 500ms;
}
.loading-icon-container span:nth-child(6) {
  animation-delay: 600ms;
}
.loading-icon-container span:nth-child(7) {
  animation-delay: 700ms;
}
.loading-icon-container span:nth-child(8) {
  animation-delay: 800ms;
}
