body {
  margin: 0;
  padding: 0;
}
.map-container {
  /* position: absolute; */
  /* margin: auto; */
  /* max-width: 100%;
  max-height: 100%; */
  width: 100vw;
  height: 100vh;
  /* float: left; */
  /* width: 100%;*/
  /* height: 100%; */
  /* margin-top: 40vw; */
  /* width: 40vw; */
  /* padding: 0; */
  /* position: relative; */
}

/* #map {
  width: 100vw;
  height: 100vh;
} */

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  /* position: absolute; */
  /* width: 25%; */
  /* top: 10px; */
  /* left: 10px; */
  /* padding: 10px; */
  display: none;
}

.data-box {
  width: 250px;
  /* text-align: center; */
  color: white;
  font-family: monospace;
  background-color: rgb(37, 37, 37);
  opacity: 0.65;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}

.data-box p {
  float: left;
  width: 100%;
  /* margin-right: 30px; */
  display: block;
}

.popup {
  border: 2px solid rgb(55, 55, 55);
}
.popup span {
  display: block;
}

.left-panel {
  /* width: 20vw; */
  width: 95%;
  /* height: 100vh; */
  height: 100%;
  /* background-color: rgb(69, 69, 69); */
  /* background-color: rgba(48, 48, 48, 0.7); */
  background-color: rgb(48, 48, 48);
  position: absolute;
}

.right-panel-container {
  width: 25vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
}

.left-panel-container {
  width: 25vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  transition: 1s;
}

.right-panel {
  /* width: 20vw; */
  width: 95%;
  left: 5%;
  /* height: 100vh; */
  height: 100%;
  /* background-color: rgb(69, 69, 69); */
  /* background-color: rgba(48, 48, 48, 0.7); */
  background-color: rgb(48, 48, 48);
  position: absolute;
}

.color-bar-legend {
  width: 80%;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  /* top: 30vh;
  left: 2vw; */
  display: block;
  /* background-color: rgb(36, 193, 125); */

  /* { thresholdColor: "#ebebeb", numberOfPeople: 0 },
  { thresholdColor: "#34dbe0", numberOfPeople: 100 },
  { thresholdColor: "#347ce0", numberOfPeople: 10000 },
  { thresholdColor: "#9f37db", numberOfPeople: 50000 },
  { thresholdColor: "#4d15a1", numberOfPeople: 100000 },
  { thresholdColor: "#2c0566", numberOfPeople: 200000 }, */
  z-index: 1;
  border-radius: 10px;
  /* position: relative; */
}

.color-bar-legend-container {
  width: 98.5%;
  display: block;
  margin-top: 10px;
  /* top: 20vh; */
  /* z-index: 1; */
  border-top: 1px solid rgb(69, 69, 69);
  border-bottom: 1px solid rgb(69, 69, 69);
  border-left: 5px solid rgb(86, 245, 86);
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
  position: relative;
  transition: 1s;
}

.color-bar-title {
  color: white;
  text-align: center;
  padding: 0;
}

.legend-num {
  margin-left: 10%;
  margin-right: 50%;
  color: rgb(163, 163, 163);
}

.county-statistics-title {
  max-width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  /* border-bottom: 3px solid rgba(69, 69, 69, 0.7); */
  border-bottom: 3px solid rgb(69, 69, 69);
}

.county-stat {
  color: white;
  border-bottom: 1px solid rgb(69, 69, 69);
  border-left: 3px solid white;
  padding: 10px;
  margin: 1px;
}

.disease-dropdown {
  width: 80%;
  max-width: 80%;
  margin-top: 10px;
  margin-left: 2vw;
  text-align: center;
  padding: 10px;
  background-color: #147eff;
  color: white;
  position: relative;
  transition: 0.5s;
}

.left-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  /* background-color: rgba(48, 48, 48, 0.7); */
  background-color: rgb(48, 48, 48);
  left: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
.right-panel-open-close {
  color: rgb(210, 210, 210);
  font-weight: bolder;
  /* background-color: rgba(48, 48, 48, 0.7); */
  background-color: rgb(48, 48, 48);
  right: 100%;
  margin: 15px;
  padding: 10px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}
